.TrashSwatch--container {
  display: flex;
  position: relative;
  width: 123px;
  height: 122px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  &:hover {
    background-color: #ffffff;
  }
}

.TrashSwatch--trash {
  width: 100%;
  margin: auto;
  path {
    fill: #d5d5d5;
  }
}
